* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
  background-color: #F8F9FA; 
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #333; 
}

#root {
  width: 100%;
  min-height: 100vh;
}